/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Custom Fonts */
@font-face {
  font-family: 'ArialBlackCustom';
  src: url('fonts/Arial Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni72';
  src: url('fonts/Bodoni 72.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply Custom Fonts */
#hero h1 {
  font-family: 'ArialBlackCustom', Arial, sans-serif;
  font-size: 3rem;
  color: #813838;
}

#hero p {
  font-family: 'Bodoni72', serif;
  font-size: 1.06rem;
  line-height: 1.2;
  margin-top: -20px;
  position: relative;
  top: -10px;
  text-align: center;
}

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #813838;
  color: white;
  z-index: 1000;
}

#navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

#navbar ul li {
  margin: 0 20px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  color: #000000;
}

/* Hero Section */
#hero {
  height: 100vh;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#dots-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/* Skills Section */
#skills.full-page {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Skills Section */
#skills h2 {
  font-family: 'Bodoni72', serif;  /* Set the font to Bodoni72 */
  font-size: 2.4rem;  /* Adjust the font size */
  color: #813838;  /* Change the text color */
  text-align: center;  /* Center the heading text */
  margin-bottom: 30px;  /* Space below the heading */
}

/* Change color for the "Game Development" text */
.skill-item h3 {
  color: #a5a5a5;  /* Change this color code to your preferred color */
}

.skills-container {
  text-align: center;
}
/* Change text color for the list of tools in the "3D Modeling & Animation" section */
.skill-item p {
  color: #ffffff;  /* Change to the color code you prefer */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
  margin: 20px auto;
}

.skill-item {
  background-color: #4641415a;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.05);
}

/* Portfolio Section */
#portfolio {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Portfolio Section */
#portfolio h2 {
  font-family: 'Bodoni72', serif;  /* Set the font to Bodoni72 */
  font-size: 2.4rem;  /* Adjust the font size */
  color: #813838;  /* Change the text color */
  text-align: center;  /* Center the heading text */
  margin-bottom: 30px;  /* Add space below the heading */
}


.carousel {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-images {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow-button {
  color: #333;
  font-size: 2.5rem;
  padding: 10px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background: none;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrow-button:hover {
  background-color: rgba(200, 200, 200, 0.5);
  transform: scale(1.2);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* Video Section Styles */
#video.full-page {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video h2 {
  font-family: 'Bodoni72', serif;
  font-size: 2.4rem;
  color: #813838;
  text-align: center;
  margin-bottom: 30px;
}

.video-container {
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* About Me Section */
#about {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

/* About Me Section */
#about h2 {
  font-family: 'Bodoni72', serif;  /* Set the font to Bodoni72 */
  font-size: 3rem;  /* Adjust the font size */
  color: #813838;  /* Change the text color */
  text-align: center;  /* Center the heading text */
  margin-bottom: 30px;  /* Add space below the heading */
}


#about .about-header h2 {
  font-size: 2.5rem;
}

.about-container {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

/* Apply Bodoni 72 Oldstyle font to the text */
#about .about-text p {
  font-family: 'Bodoni72Oldstyle', serif;
  font-size: 1.2rem;  /* Adjust font size as needed */
  color: #813838;  /* Optional: Change text color if needed */
}


.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 90%;
  height: auto;
}

.about-text {
  flex: 1;
  padding-left: 20px;
  text-align: left;
}

/* About Section Text */
#about .about-text p {
  color: #D3D3D3;  /* Change the text color */
  font-size: 1.2rem; /* Optional: change font size */
  line-height: 1.5; /* Optional: change line height for better readability */
}


/* Contact Section */
#contact {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

/* Contact Section */
#contact h2 {
  font-family: 'Bodoni72', serif;  /* Set the font to Bodoni72 */
  font-size: 3rem;  /* Adjust the font size */
  color: #813838;  /* Change the text color */
  text-align: center;  /* Center the heading text */
  margin-bottom: 30px;  /* Add space below the heading */
}


.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-header h2 {
  font-size: 2.5rem;
}

.contact-form {
  width: 50%;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: white;
}
